$color-primary: #01d167;
$color-secondary: #0c365a;
$color-black: #000000;
$color-gray: #6e6e6e;
$color-light-gray: #dddddd;
$color-lighter-gray: #aaaaaa;

$btn-padding: 14px;
$color-bright-red: #e97d7d;
$font-family: Open-Sans-Regular;
$base-font-size: 14px;
$font-size-small: ($base-font-size - 2px);
$shadow: #00000029;
$white: #ffffff;
$danger: red;

$primary-text: #0c365a;
$sky-blue: #23cefd;
$secondary-text: #5b607e;
$disabled-text: #9c9fb1;
